/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header * {
  color: white;
}

header {
  background-color: black;
  height: 60px;
}

nav * {
  float: left;
  width: 10%;
}

nav > ul {
  width: 50%;
  list-style: none;
  margin: 0;
}

nav > ul > li {
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}

nav > form > input {
  width: 100%;
}

main > div {
  height: 60px;
  margin-bottom: 6px;
}

section {
  border: 2px solid black;
}

.topStory, .bigNews {
  float: left;
  width: 50%;
  height: 600px;
}

.bigNews > section {
  float: left;
  width: 50%;
  height: 300px;
}

.moreNews > section {
  float: left;
  width: 33.3333%;
  height: 400px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
